div {
  margin: 5px;
}
div label{
  width: 12%;
  float: left;
}
input[text] {
  padding-left: 5em;
}
input:focus{
  border: 1px solid violet;
  background-color: #ececef;
  outline: none;
}
select:focus{
  border: 1px solid violet;
  background-color: #ececef;
  outline: none;
}
div.sexo label#sexo{
  width: 7%;
  float: left;
}
div.textarea{
  padding-top: 1.5em;
}
textarea{
  height: 40px;
  overflow: scroll;
}
textarea:focus{
  border: 1px solid violet;
  background-color: #ececef;
  outline: none;
}
