/*a. Incluye esta imagen de fondo para la web:
http://www.fandroides.com/wpcontent/uploads/2014/05/wall4.jpg*/
body {
  background: url("img/wall4.jpg");
}
/*b. Modifica h1 para que tenga como fondo esta imagen:
https://1.bp.blogspot.com/_sD9yQTE5QZQ/SGvRFJbT6QI/AAAAAAAADg4/5Ot2aTA4_w/s400/blue1961.jpg.
 Es necesario que la imagen se repita horizontalmente para cubrir todo el h1.
 Modifica h1 para incluir color de borde y letra blanco*/
h1 {
  background-image: url("img/blue1961.jpg");
  background-repeat: repeat-x;
  border-color: green;
  color: white;
  background-size:  1000px 1000px;
}
